@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");

ul {
  list-style-type: none;
}

jobImg img {
  max-height: 34rem;
}

.jobsList:nth-child(odd) {
  background-color: #e8ecef;
}
.jobsList:nth-child(even) {
  background-color: white;
}

.myPic {
  max-width: 36rem;
  float: right;
}

.social {
  max-width: 94px;
}

.myLinks {
  margin-top: -28%;
  position: absolute;
  margin-left: 10%;
}

.myJobs {
  padding: 0;
}

.myImage {
  margin-top: 50px;
  float:right;
  position: relative;
}

.jumbotron {
  margin: 0;
}

.proTitle{
  background-color: #e8ecef;
  margin:0;

}

.jobRow{
  position:absolute;
}