@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");

ul {
  list-style-type: none;
}

jobImg img {
  max-height: 34rem;
}

.jobsList:nth-child(odd) {
  background-color: #e8ecef;
}
.jobsList:nth-child(even) {
  background-color: white;
}

.myPic {
  max-width: 20rem;
  float: right;
}

.social {
  max-width: 94px;
}

.myLinks {
  margin-top: -28%;
  position: relative;
  margin-left: 10%;
}

.myJobs {
  padding: 0;
}

.myImage {
  margin-top: 50px;
  margin-bottom:35px;
  float:right;


}

.jumbotron {
  margin: 0;
  background-image: url(/static/media/Matt1.a9badfee.jpg);
  /* background-position: 11% 32px; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.proTitle{
  background-color: #e8ecef;
  margin:0;

}
.job{
  margin-top:30px;
}



