@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");

ul {
  list-style-type: none;
}

/* .jobImg img {
  max-height: 34rem;
} */

.jobsList:nth-child(odd) {
  background-color: #e8ecef;
}
.jobsList:nth-child(even) {
  background-color: white;
}

.myPic {
  max-width: 20rem;
  float: right;
}

.social {
  max-width: 94px;
  margin-right: 5%;
}

.myLinks {
  position: relative;
  margin-top: auto;
  /* margin-left: 8%; */
}

.myJobs {
  padding: 0;
}

.myImage {
  margin-top: 50px;
}

.proTitle {
  background-color: #e8ecef;
  margin: 0;
}
.job {
  margin-top: 30px;
}

.jumbotron {
  margin: 0;
  position: relative;
}

.jumbotron button {
  margin-bottom: 31%;
  padding: 12px;
  margin-left: 10%;
  margin-top: 10px;
}


nav{
  background-color: #F8F9FA;
}

.emptySpace{
  background-color: #E7ECEF;
}


.job{
  font-family: comic sans ms;
}